= link_to 'Back', gig_requests_path
= link_to 'Edit', edit_gig_request_path(@gig_request)
= link_to 'Approve', gig_requests_approve_path(@gig_request)
= link_to 'Deny', gig_requests_deny_path(@gig_request)