.sections
    .container{:align => "center"}
        .row
            %h2 Upcoming Events
            .separator
        .row
            %iframe{:align => "center", :width => "80%", :height => "600px", :name => "Gigs", :src => "https://calendar.google.com/calendar/embed?src=crocs431%40gmail.com&ctz=America%2FChicago"}