// %body
//   %header#home.home
//     .overlay-img
//       .container
//         .row
//           .col-md-12
//             .home-content
//               %h1{:style => "padding-top: 20%"} DJs of Aggieland!
//               %h5
//                 %br
//                 Is in dire need of a website
//               %h5
//                 %p wololo
%img.hero-image
    =link_to image_tag("facebook.png")
    .hero-text
        %p yak yak yak yak