%head
  / needed: home, login, form, admin
  /%title Home
  
%body
  / header
  %ul.nav.nav-pills
    %li.active
      %a= link_to "Home", root_path
    %li
      %a= link_to "Calendar", welcome_calendar_path
    %li
      %a= link_to "Request a DJ", new_gig_request_path
    %li
      %a= link_to "DJ Portfolios", dj_portfolios_path
  %p
    Page contents
  